  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
}
.header h1 {
    color: blue;
    font-family: arial;
}
.header nav a {
    color: black;
    text-decoration: none;
    font-family: arial;
    padding: 5px 3px;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
.section .right img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.section .left h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 16px;
}

.section .left p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
    margin-bottom: 16px;
}

.section .left .link {
    margin-top: 32px;
}

.section .left .link a {
    padding: 10px 16px;
    background: blue;
    margin-right: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}